.header {
	color: #fff;
	padding: 50px 0 85px 0;
}

.header .nav {
	margin-bottom: 60px;
}

.header__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.coffee-header {
	background: url("../../assets/backgrounds/coffee-bg.png") no-repeat;
	background-size: cover;
	background-position: center, center;
}

.goods-header {
	background: url("../../assets/backgrounds/pleasure-bg.png") no-repeat;
	background-size: cover;
	background-position: center, center;
}
