.footer {
	margin-top: auto;
}

.footer__container {
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding: 30px 0 20px 0;

	@media (max-width: 700px) {
		justify-content: center;
	}
}

.footer .nav {
	width: 360px;
	padding: 0;

	@media (max-width: 700px) {
		display: none;
	}
}

.footer .nav__logo-img {
	filter: none;
}

.footer .nav__item {
	color: #000;
	text-shadow: none;

	&::before {
		background-color: #000;
	}
}
